.save{
    background-color: orange;
    padding: 10px 20px;
    color: black;
    border: 1px solid rgb(170, 111, 2);
    border-radius: 20px;
    font-size: 20px;
}
.fa-solid{
    margin-right: 10px;
}

.save:hover{
    background-color: rgb(136, 89, 2);
    color: white;
}