body{
    padding: 0;
    margin: 0;
}

.ust-menu{
    background-color: gray;
}
.header{
    background-color: rgb(192, 192, 192);
    position: sticky;
    top : 0;
}
.header div,
.ust-menu div {
    display : inline-block;
    width: 48.5%;
    padding: 5px;
    color: white;
}
.ust-menu a{
    color : white;
    text-decoration: none;
}
.header .menu,
.ust-sag-menu{
    text-align: right;
}